<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers accessPolicy="Read"/>
    <staticContent>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <clientCache cacheControlMode="DisableCache"/>
    </staticContent>
    <security><requestFiltering><fileExtensions allowUnlisted="false">
      <clear/><add fileExtension=".json" allowed="true"/>
    </fileExtensions></requestFiltering></security>
  </system.webServer>
</configuration>
