<?xml version="1.0" encoding="utf-8"?>
<configuration><system.webServer><handlers accessPolicy="Read"/><security><requestFiltering><fileExtensions allowUnlisted="false"><add fileExtension=".webp" allowed="true"/><add fileExtension=".jpg" allowed="true"/><add fileExtension=".png" allowed="true"/></fileExtensions></requestFiltering></security></system.webServer></configuration>
